.categories {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;

  .categories__list {
    display: flex;

    li {
      max-width: fit-content;
      height: 46px;
      background: #f9f9f9;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.04));
      transition: all 0.2s linear;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      color: #06283d;
      padding: 0 25px;
    }

    li:hover {
      transform: scale(1.02);
      background: rgba(19, 99, 223, 0.1);
      color: #06283d;
    }

    li.active {
      transform: scale(1.02);
      background: #06283d;
      color: #ffffff;
    }

    li:not(:last-child) {
      margin-right: 9px;
    }

    .active {
      transform: scale(1.02);
      background: #06283d;
      color: #ffffff;
    }
  }

  .sort {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 14px;
      font-weight: 600;
      margin: auto 8px;
      color: #06283d;
    }

    .expand {
      font-size: 14px;
      font-weight: 400;
      border-bottom: 1px dashed #1363df;
      color: #1363df;
      cursor: pointer;
    }
  }

  .sort-expanded {
    position: absolute;
    right: 0;
    top: 50px;
    background: #f9f9f9;
    width: 132px;
    height: fit-content;
    border-radius: 10px;

    li {
      padding: 15px;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.15s linear;
    }

    li:hover {
      & {
        background: rgba(19, 99, 223, 0.2);
        border-radius: 10px;
        color: #1363df;
      }
    }
  }
}
